{% extends "home.html" %}
{% load static %}
{% block conteudo %}
<link rel="stylesheet" href="{% static "css/editar_equipamento.css"%}">
<div class="form-container">
  <h2>Editar Equipamento</h2>
  <form method="POST">
    {% csrf_token %}
    <label>Nome:</label>
    <input type="text" name="nome" value="{{ equipamento.nome }}" required>

    <label>Tipo:</label>
    <input type="text" name="tipo" value="{{ equipamento.tipo }}" required>

    <label>Número de Série:</label>
    <input type="text" name="numero_serie" value="{{ equipamento.numero_serie }}" required>

    <label>Fabricante:</label>
    <input type="text" name="fabricante" value="{{ equipamento.fabricante }}" required>

    <button type="submit">Atualizar</button>
  </form>
</div>
{% endblock %}
