{% extends "home.html" %}
{% load static %}
{% block title %}Lista de Colaborador{% endblock  %}
{% block conteudo %}
<link rel="stylesheet" href="{% static 'css/lista_colaboradores.css'%}">
   
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Cargo</th>
        </tr>
    </thead>
    <tbody>
        {% for colaborador in colaboradores %}
        <tr>
            <td>{{ colaborador.nome }}</td>
            <td>{{ colaborador.idade }}</td>
            <td>{{ colaborador.email }}</td>
            <td>{{ colaborador.telefone }}</td>
            <td>{{ colaborador.cargo }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Nenhum colaborador cadastrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<footer>
    <a href="/cadastro/">Cadastrar novo colaborador</a>
    <a href="{% url 'home' %}">Menu inicial</a>
</footer>

{% endblock  %}